html {
    height: 100%;
}

body {
    height: 100%;
    background-color: grey;
}

div {
    height: 100%;
    text-align: center;
    padding: 10% 0;
    background-color: #6fbae9;
}

.container {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.section {
    scroll-snap-align: center;
}

h1 {
    font-family: cursive;
}

p {
    font-family: monospace;
}
